<div id="contact">
    <h2>Benimle İletişime Geçin</h2>
    <form action="">
        <div>
            <label for="">Ad Soyad:</label>
            <input type="text" />
        </div>
        <div>
            <label for="">Email:</label>
            <input type="email">
        </div>
        <div>
            <label for="">Mesaj:</label>
            <textarea cols="30" rows="" 20></textarea>
        </div>
        <!-- formun içindeki bilgilerin kullanıcıya gönderilmesine submit denir -->
        <div>
            <input type="submit" value="Mesaj gönder">
        </div>

    </form>

</div>
