 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <!-- <style>
        /* body{
           /* background-color: green;*/ 

        } -->
    <!-- /* #header{
            background-color: black;
        } */ */
        /* div{
            background-color: gray;
            color: blueviolet;
        } */
       /* id seçiceksem # klas seçerken . kullanılır*/ 
        /* .skill{
            background-color: blue;
        } */ -->
    <!-- </style> -->
    <link rel="stylesheet" href="~/css/site.css">
    <!-- /* link yaparak css dosyasıyla bağlantı kurduk ve css özelliklerimizin kullanılmasını sağladık.*/ -->

</head>

<body> <!----  <br> syntaxı alta geç komutu verir alt satır komutu -->
    <div id="header">
        <!-- <h1 style="color: red; font-size: 60px;">Merhaba Ben Kemal Kodyazan </h1> -->
        <h1>Merhaba Ben Kemal Kodyazan </h1>
        <p>Yazılım Geliştirici | Teknoloji Aşığı | Spor Tutkunu</p>
    </div>
    <!--Yetenekler bölümü-->
    <!--ul kısmı liste vericez demek ve her madde için li, yazıcaz div bir alan oluşturmak için -->
   @RenderBody()
</body>

</html>