@{
    ViewData["Title"] = "About";
}

<h1 class="display-6 text-danger">About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et officiis ea voluptatum mollitia dolore praesentium. </p> 